<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Esto Es Una Prueba{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

            {{ encore_entry_script_tags('fc-locales') }}
            <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.20/index.global.min.js"></script>
            <script>

              document.addEventListener('DOMContentLoaded', function() {
                var calendarEl = document.getElementById('calendar');
                var calendar = new FullCalendar.Calendar(calendarEl, {
                  initialView: 'dayGridWeek',
                  locale: 'es',
                  height: 650,
                  events: '/get-events'
                });
                calendar.render();
              });

            </script>
        {% endblock %}
    </head>
    <body>
      <div class="home-page">
          <div class="cabecera">
            Hola
          </div>
          <div class="cuerpo">
            <h1 class="entrada">Calendario</h1>

            <div id='calendar'></div>


          </div>
      </div>
    </body>
</html>
